.Page {
  padding: 0;
  position: relative;
  height: calc(100vh - 120px);

  :global {
    .reflex-container.vertical > .reflex-splitter,
    .reflex-splitter {
      border-left: 1px solid #efefef;
      border-right: 1px solid #efefef;
    }
  }

  .leftPane {
    min-width: 192px;
  }

  .mainPane {
    min-width: 320px;
  }

  .leftPane, .mainPane {
    position: relative;
  }

  .paneContentContainer {
    height: 100%;
  }

  .tableComponentWrapper {
    margin-top: 45px;
    padding: 0 14px 0 5px;
  }
}
