stages:
  - verify
  - set-tag
  - build
  - build-images
  - save-tag

# before_script:
#   - export DOCKER_USER=$CI_BUILD_DOCKER_USER
#   - export DOCKER_PASS=$CI_BUILD_TOKEN
#   - export DOCKER_URL=$CI_BUILD_DOCKER_URL
# before_script:
#   - docker login -u $CI_BUILD_DOCKER_USER -p $CI_BUILD_TOKEN $CI_BUILD_DOCKER_URL

include:
  - .ci/kun-frontend.gitlab-ci.yml
  - .ci/kun-metadata.gitlab-ci.yml
  - .ci/kun-data-discovery.gitlab-ci.yml
  - .ci/kun-workflow.gitlab-ci.yml
  - .ci/kun-pdf.gitlab-ci.yml
# include: ci/kun-data-discover.gitlab-ci.yml
# include: ci/kun-workflow.gitlab-ci.yml

.build-kun-frontend:
  only:
    changes:
      - kun-frontend/**/*

.build-kun-data-discovery:
  only:
    changes:
      - kun-data-discovery/**/*

.build-kun-metadata:
  only:
    changes:
      -  kun-metadata/**/*

.build-kun-workflow:
  only:
    changes:
      - kun-workflow/**/*

.build-kun-pdf:
  only:
    changes:
      - kun-pdf/**/*
                  
.only-deploy:
  only:
    refs:
      - master
      - release
      - tags
