.TestCaseRuleTableTooltip {
  max-width: none !important;
  width: auto;
}

.FailedREasonTooltip {
  max-width: 500px;
}

.childRow {
  background-color: #fafafa;
}

.table {
  th {
    &::before {
      opacity: 0 !important;
    }
  }
}
