.content {

  .row {
    display: flex;
    align-items: center;

    .col {
      min-width: 91px;
      font-size: 12px;
      margin: 0 10px;
      .column {
        height: 40px;
        width: 91px;
        overflow: hidden;
      }
      .taskCount {
        color: #262a2f;
        cursor: pointer;
        text-align: center ;
      }
    }
  }

  &::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }
}
