.content {
  height: 100%;
  white-space: nowrap;
  .task {
    display: flex;
    align-items: center;
    height: 40px;
    width: fit-content;
    .run {
      height: 20px;
    }

    .name {
      padding-left: 10px;
      height: 40px;
      line-height: 40px;
      color: @third;
    }
  }
}

.tooltip{
  display:flex;
  align-items:center;
  margin-top: 10px;
  .label{
    color: @grayFontColor;
    font-size:14px;
  }
  .value{
    color: @darkGray;
    font-size:14px;
    margin-left: 15px;
  }
  &::before{
    border-radius: 50%;
    display: inline-block;
    height:10px;
    width: 10px;
    content: '';
    margin-right: 5px;
    background: @status-color-success;

  }
}