.container {
  height: 100%;

  .backButoonRow {
    margin-bottom: 16px;
    .font(14px, 20px, @secondary);

    .backButton {
      cursor: pointer;
    }
  }
  .pathName {
    cursor: pointer;
    color: #9c9c9c;
  }
  .titleArea {
    display: flex;
    align-items: center;
    padding: 10px 0 20px 0;
    border-radius: 3px;
    border-bottom: 1px solid #ebebeb;
    .title {
      font-weight: bold;
      .font(20px, 30px, @primary);
    }
  }
  .descArea {
    padding: 20px 0;
    border-radius: 3px;
    flex: 0 0 320px;
    // height: 220px;
    border-bottom: 1px solid #ebebeb;
    .descLabel {
      margin-bottom: 12px;
      font-weight: bold;
      .font(14px, 20px, @primary);
    }
    .descInputContainer {
      height: calc(100% - 32px);
      overflow: auto;
      color: #9c9c9c;
      .descInput {
        height: 100%;
        display: block;
      }
    }
  }
  .contentArea {
    display: flex;
    .rightArea {
      flex: 1;
      min-height: calc(100% - 168px);
      padding: 20px 10px;

      .glossaryTreeContainer {
        flex: 1;
        min-height: 480px;
        max-height: 1200px;
        padding: 8px;
      }
    }

    .leftArea {
      flex: 1;
      border-radius: 3px;
      padding: 20px 10px 20px 5px;
      border-right: 1px solid #ebebeb;
      .inputBlock {
        margin-bottom: 20px;
        .label {
          margin-bottom: 8px;
          .font(14px, 21px, @primary);
        }
        .funcTitleRow {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 14px;
          .funcTitleRowlabel {
            .font(14px, 21px, @primary);
          }
        }
      }
    }
  }
}
