<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web">
  <title>Miotech Data Platform</title>
</head>
<body>
  <div class="app-root" id="root"></div>
</body>
</html>
