<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/iconfont/font/iconfont.css" type="text/css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <title>Miotech Data Platform</title>
</head>
<body>
  <div class="app-root" id="root"></div>
</body>
</html>
