@primary: #2d3446;
@background: #f9f9f9;
@white: #ffffff;
@black: #000000;
@secondary: #526079;
@secondary2: #8ca0b3;
@third: #7a7e87;
@fourth: #d8d8d8;
@fifth: #1e2534;
@darkBlue: #1a73e8;
@lightBlue: #b3c6d8;
@warning: #ff6336;
@lightGray: #eeeeee;
@borderColor: #e0e0e0;
@grayFontColor: #9c9c9c;
@lightBorderColor: #ebebeb;
@brand: #b7994a;
@orange: #ffa800;
@green: #9ac646;
@darkGray: #262a2f;

@tagBackground: rgba(26, 115, 232, 0.05);
@tagBorder: rgba(26, 115, 232, 0.3);
@modalBackgroundColor: rgba(224, 224, 224, 0.2);
@selectedRowBackground: rgba(179, 198, 216, 0.2);
@noColor: rgba(0, 0, 0, 0);
@lightBlueBackground: rgba(26, 115, 232, 0.06);

:export {
  primary: @primary;
  background: @background;
  white: @white;
  black: @black;
  secondary: @secondary;
  secondary2: @secondary2;
  third: @third;
  fourth: @fourth;
  fifth: @fifth;
  darkBlue: @darkBlue;
  lightBlue: @lightBlue;
  warning: @warning;
  lightGray: @lightGray;
  borderColor: @borderColor;
  grayFontColor: @grayFontColor;
  lightBorderColor: @lightBorderColor;
  brand: @brand;
  orange: @orange;
  green: @green;
  darkGray: @darkGray;
}
