body {
  font-family: Titillium Web, Roboto, PingFangSC, sans-serif;
}

.app-root {
  height: 100%;
  overflow: auto;
}

.ant-select-multiple {
  .ant-select-selection-item {
    background-color: @tagBackground !important;
    border: 1px solid @tagBorder !important;
    height: 28px !important;
    line-height: 26px !important;
  }
}

.light-blue-tag {
  background-color: @tagBackground !important;
  border: 1px solid @tagBorder !important;
  color: @secondary !important;
  line-height: 26px !important;
}

.gray-background-color {
  background-color: fade(@borderColor, 30);
}
