name: ci ut

on:
  pull_request:
    paths:
  push:
    branches:
      - master
env:
  LOG_DIR: /tmp/kun-scheduler

jobs:

  infra-test:
    name: infra test
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v2
      # In the checkout@v2, it doesn't support git submodule. Execute the commands manually.
      - name: checkout submodules
        shell: bash
        run: |
          git submodule sync --recursive
          git -c protocol.version=2 submodule update --init --force --recursive --depth=1
      - uses: actions/cache@v1
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: test
        run: |
          ./gradlew check -p kun-workflow
          ./gradlew check -p kun-metadata
      - name: Upload coverage report to codecov
        run: |
          CODECOV_TOKEN="c9895fa5-02da-4cf0-9f1b-fb66e47ea1c6" bash <(curl -s https://codecov.io/bash)
      # Set up JDK 11 for SonarCloud.
      - name: Set up JDK 1.11
        uses: actions/setup-java@v1
        with:
          java-version: 1.11
      - name: Run SonarCloud Analysis
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          ./gradlew sonarqube -p kun-workflow
          ./gradlew sonarqube -p kun-metadata
      - name: "Upload artifact for coverage"
        uses: actions/upload-artifact@v2
        with:
          name: >
            coverage-infra
          path: |
            ./kun-workflow/**/build/reports/jacoco/test/jacocoTestReport.xml
            ./kun-metadata/**/build/reports/jacoco/test/jacocoTestReport.xml
          retention-days: 7

  app-test:
    name: app test
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v2
      # In the checkout@v2, it doesn't support git submodule. Execute the commands manually.
      - name: checkout submodules
        shell: bash
        run: |
          git submodule sync --recursive
          git -c protocol.version=2 submodule update --init --force --recursive --depth=1
      - uses: actions/cache@v1
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: test
        run: |
          ./gradlew check -p kun-data-platform
          ./gradlew check -p kun-data-discovery
          ./gradlew check -p kun-data-dashboard
          ./gradlew check -p kun-data-quality
      # Set up JDK 11 for SonarCloud.
      - name: Set up JDK 1.11
        uses: actions/setup-java@v1
        with:
          java-version: 1.11
      - name: Run SonarCloud Analysis
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          ./gradlew sonarqube -p kun-data-platform
          ./gradlew sonarqube -p kun-data-discovery
          ./gradlew sonarqube -p kun-data-dashboard
          ./gradlew sonarqube -p kun-data-quality
      - name: "Upload artifact for coverage"
        uses: actions/upload-artifact@v2
        with:
          name: >
            coverage-app
          path: |
            ./kun-data-platform/**/build/reports/jacoco/test/jacocoTestReport.xml
            ./kun-data-discovery/**/build/reports/jacoco/test/jacocoTestReport.xml
            ./kun-data-dashboard/**/build/reports/jacoco/test/jacocoTestReport.xml
            ./kun-data-quality/**/build/reports/jacoco/test/jacocoTestReport.xml

  upload-coverage:
    name: "Upload coverage"
    runs-on: ubuntu-latest
    continue-on-error: true
    needs:
      - infra-test
      - app-test
    env:
      RUNS_ON: ubuntu-latest
    steps:
      - name: "Checkout ${{ github.ref }} ( ${{ github.sha }} )"
        uses: actions/checkout@v2
        with:
          persist-credentials: false
          submodules: recursive
      - name: "Download all artifacts from the current build"
        uses: actions/download-artifact@v2
        with:
          path: ./coverage-files
      - name: "Upload all coverage reports to codecov"
        uses: codecov/codecov-action@v2
        with:
          directory: ./coverage-files
